.projetPage{
    width: 100vw;
    height: 76vh;
    display: flex;
    flex-direction: row;
    /*met un pre warp*/
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
    flex-wrap: wrap;

}

<<<<<<< HEAD
.card{
    width: 15%;
    height: 30%;
=======
.carte-body{
>>>>>>> a28893c32cce317de08d4a2cc838ed5c0da30218
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.card:hover{
    background-color: #808080;
    color: white;
}
.card a:hover{
    color: orange;
}
a{
    text-decoration: none;
    color: black;
}
<<<<<<< HEAD
=======
.card{
    display: flex;
    height: 10%;
}
>>>>>>> a28893c32cce317de08d4a2cc838ed5c0da30218
