*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #272626;
}
header{
    position: fixed;
    background-color: #272626;
    width: 100%;
}
nav{
    display: flex;
    border: solid;
    border-color: #000000;
    align-items: center;
    min-height: 10vh;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0 10%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-links{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;

}
.nav-case{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}
.nav-case:hover{
    background-color: #ffffff;
}
.nav-case:hover a{
    color: #000000;
}
.nav-case a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
}
a{
    color: #ffffff;
    text-decoration: none;
}
.bodyPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 80%;
    background-color: #00000020;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 2rem;
    background-image: url("../assets/img/background2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin:15% 0% 15% 0%;
}
.paragraphe{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    
}
.lien{
    font-family: monospace;
    font-style: italic;
}
.projetPage{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.gridProjet{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.noConnexion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100vh;
}
.noConnexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ProjetCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mignature{
    width: 300px;
    height: 300px;
    margin: 1rem;
}
.description{
    text-align: center;
    padding: 1rem;
}


.logo{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.contactPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.from{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
button{
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #808080;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
}
.contactPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.title{
    font-size: 2rem;
    margin: 1rem;
    color: #fff;
}
.input{
    width: 30%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin-top:5px ;
    box-shadow: #000000;
    font-family: 'Times New Roman', Times, serif;
}

::-webkit-scrollbar {
    display: none;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    header{
        position: fixed;
        background-color: #272626;
        width: 100%;
    }
    nav{
        display: flex;
        width: 100%;

    }
    .nav-case{
        display: flex;
        width: 50%;
    }

    .nav-links{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 2rem;
    }

    .hero{
        display: flex;
        margin-top: 100px;
    }
    h1{
        font-size: 20px;
        margin-bottom: 0px;
    }
    .paragraphe{
        font-size: 15px;
    }
  }